<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="stylesheets/landing.css" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Expense App</title> 
</head>
<body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <header class="header">
                        <% include navbar %>
                    </header>
                </div>    
            </div>
            <div class="row">
                <div class="col-sm-2">    
                    <aside class="sidenav">
                        <% include sidebar %>
                    </aside>
                </div>
                <div class="col justify-center">
                    <main class="main">
                        <div class="container">
                            <div class="row">
    