
<nav class="navbar bg-light">
        <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link m-2 p-1" data-toggle="tooltip" title="View all Expenses" href="/expense">Expense</a>
    </li>
    <li class="nav-item">
      <a class="nav-link m-2 p-1" data-toggle="tooltip" title="View all Categories" href="/category">Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link m-2 p-1" data-toggle="tooltip" title="Change Settings!" href="#">Settings</a>
    </li>
  </ul>
</nav>
