<% include partials/header %>

<div class="col">
    <div class="cards">
        <div class="card-body">
            <h5 class="card-title">Add Expense</h5>
            <h6 class="card-sub-title mb-2 text-muted">Add a new expense here!</h6>
            <p class="card-text">This section will help you add all your expensese!</p>
            <a href="/expense/new" class="btn btn-primary btn-xs">Add Expense</a>
        </div>
    </div>
</div>
<% if(typeof currentUser !== 'undefined' && currentUser.isAdmin){%>
<div class="col">
    <div class="cards">
        <div class="card-body">
            <h5 class="card-title">Add Category</h5>
            <h6 class="card-sub-title mb-2 text-muted">Add a new Category here!</h6>
            <p class="card-text">This section will help you add the categories attached to your expenses</p>
            <a href="/category/new" class="btn btn-primary btn-xs">Add Cagtegory</a>
        </div>
    </div>
</div>
<div class="col">
    <div class="cards">
        <div class="card-body">
            <h5 class="card-title">Add User</h5>
            <h6 class="card-sub-title mb-2 text-muted">Add a new User here!</h6>
            <p class="card-text">This section will help you add a new user to the store</p>
            <a href="/user/new" class="btn btn-primary btn-xs">Add User</a>
        </div>
    </div>
</div>
<% } %>
</div> <!-- Row ends here-->
<!-- New Code added for Approval Route -->
<div class="row">
    <div class="col"></div>
    <div class="col">
            <div class="cards">
                <div class="card-body">
                    <h5 class="card-title">View Pending Approvals</h5>
                    <h6 class="card-sub-title mb-2 text-muted">Click here to view Approvals pending</h6>
                    <p class="card-text">This section will help you view pending approvals</p>
                    <a href="/approval" class="btn btn-primary btn-xs">View Approvals</a>
                </div>
            </div>
        </div>    
    <div class="col"></div>
</div>
<% include partials/footer %>
                            