<% include ../partials/header %>

<div class="col">
    <!-- Enter Category list here!  -->
  
    <div class="list-group">
        <% categorys.forEach ((category)=>{ %>
        <a href="/category/<%= category._id %>" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= category.name %></h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1"><%= category.description %></p>
        </a>
        <% }) %>
    </div>
</div>    

<% include ../partials/footer %>
